<!DOCTYPE html>
<html>
        <head>
        <meta charset="UTF-8">
            <title>{% block title %}Calendar{% endblock %}</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
            {% block stylesheets %}
            <style>
                #calendrier{
                    width: 80%;
                    margin: auto;
                }
            </style>


            {% endblock %}
        </head>
        <body>
        {% block body %}
        
<div id="calendrier" >


</div>
    <div>
         <a href="{{ path('app_evenement_index') }}">Back to event list</a>
    </div>
{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous">
        </script>
        {% block javascripts %}




    <script>
    
        window.onload=()=> {
            let calendarElt = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'ang',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth timeGridWeek'
                },
                events:{{ data |raw }} ,
            })
            calendar.render();
             console.log(calendar);
        }
       
        
    </script>

{% endblock %}
        </body>
</html>