{% extends 'client/dashboardClient.html.twig' %}

{% block client %}
    <div id="layoutSidenav_content">
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}} ) }}
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h3 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Modifier mon mot de passe
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Change password card-->
                        <div class="card mb-4">
                            <div class="card-header">Modifier mot de passe</div>
                            <div class="card-body">
                                <!-- Form Group (current password)-->
                                <div class="mb-3">
                                    {{ form_widget(form.plainPassword) }}
                                    {{ form_errors(form.plainPassword,{'attr':{'class':'text-danger'}}) }}
                                </div>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </main>
        {{ form_end(form) }}
    </div>
{% endblock %}
