<form method="post" action="{{ path('app_espace_delete', {'id': espace.id}) }}" onsubmit="return confirm('vous etes sur de supprimer cette espace de location ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ espace.id) }}">
    <button class="btn">Delete</button>
</form>
