<form method="get" action="{{ path('search_espace') }}">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom">
    <br>
    <label for="adresse">Caracteristique:</label>
    <input type="text" id="caracteristique" name="caracteristique">
    <br>
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" name="adresse">
    <br>
    <button type="submit">Rechercher</button>
</form>