{% extends 'baseBack.html.twig' %}
{% block content %}
    <h1>Résultats de la recherche</h1>
    
    {% if espaces is not empty %}
        <ul>
            {% for espace in espaces %}
                <li>{{ espace.nom }} - {{ espace.caracteristique }} - {{ espace.adresse }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
{% endblock %}