


{% block body %}
    <style>
        .paiement{
            display: grid;
            place-items: center;
        }
        img{
            width: 300px;
        }
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #30458b;
        }
        button{
            background-color: #b6daff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: #30458b;
            cursor: pointer;
        }
        button:hover{
            opacity: 0.8;
        }
    </style>

    <body>
    <div class="paiement">
        <h1>Passer Au Paiement</h1>
        <title>Buy cool new product</title>
        <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Paiement</button>
        </form>
    </div>
    </body>

{% endblock %}
{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">/*clé public  */
        var stripe = Stripe('pk_test_51MiPrDKFKzDmhYbdPLnb0VSgDHrM0b4hm57jgzcH5POUm0QvV1LtvfVo9qLChcXaDx3fKLpRbyi4OECIIVgtlbBK00qroF4WVs');
        var checkoutButton = document.getElementById("checkout-button");

        checkoutButton.addEventListener("click", function () {
            fetch("/create-checkout-session", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}